@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}


@font-face {
  font-family: 'badabb';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/badabb.ttf') format('truetype');
}

@font-face {
  font-family: 'knewave';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/knewave.ttf') format('truetype');
}

@font-face {
  font-family: 'neiko';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/neikoregular.otf') format('opentype');
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.comic-style {
  font-family: 'badabb';
}

.shpetinas-font {
  font-family: 'knewave';
}

.neiko-font {
  font-family: 'neiko';
}